body{
    background-color: white; 
    font-family:'Nunito';
}

div{
    display:flex;
    padding: 10px;
    }


 button{
     color: #ec4067;
 }
 .images{
     display: flex;
    }
    .div8{
        display: inline;
    }